In [1]:
import pandas as pd 
import numpy as  np 
import seaborn as sns
import matplotlib as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv('gld_price_data.csv')
df

           Date          SPX         GLD        USO      SLV   EUR/USD
0      1/2/2008  1447.160034   84.860001  78.470001  15.1800  1.471692
1      1/3/2008  1447.160034   85.570000  78.370003  15.2850  1.474491
2      1/4/2008  1411.630005   85.129997  77.309998  15.1670  1.475492
3      1/7/2008  1416.180054   84.769997  75.500000  15.0530  1.468299
4      1/8/2008  1390.189941   86.779999  76.059998  15.5900  1.557099
...         ...          ...         ...        ...      ...       ...
2285   5/8/2018  2671.919922  124.589996  14.060000  15.5100  1.186789
2286   5/9/2018  2697.790039  124.330002  14.370000  15.5300  1.184722
2287  5/10/2018  2723.070068  125.180000  14.410000  15.7400  1.191753
2288  5/14/2018  2730.129883  124.489998  14.380000  15.5600  1.193118
2289  5/16/2018  2725.780029  122.543800  14.405800  15.4542  1.182033

[2290 rows x 6 columns]

In [3]:
df['Date']=pd.to_datetime(df['Date'])
df.set_index('Date',inplace=True)

In [5]:
x=df.drop('GLD',axis=1)
y=df['GLD']
#trying randomforest
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)
model=RandomForestRegressor(n_estimators=100)
model.fit(x_train,y_train)
#trying linear regression
model2=LinearRegression()
model2.fit(x_train,y_train)

LinearRegression()

In [6]:
predictions=model.predict(x_test)
error=metrics.r2_score(y_test,predictions)
print(error)
predictions2=model2.predict(x_test)
error2=metrics.r2_score(y_test,predictions2)
print(error2)

0.9890567945680437
0.8657886565869237